body {
  background-color: lightblue;
  color: white;
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}
header {
  min-width: 1100px;
  max-width: none;
  margin: none;
  background-color: red;
  color: white;
  height: 200px;
  text-align: center;
  font-family: verdana;
  font-size: 80px;
}
