body {
  background-color: lightblue;
  color: white;
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}
.header {
  border: 8px solid white;
  border-radius: 20px;
  min-width: 1100px;
  max-width: none;
  margin: none;
  background-color: red;
  background-size: cover;
  color: white;
  height: 100px;
  text-align: center;
  font-family: verdana;
  font-size: 80px;
}
main {
  vertical-align: baseline;
  min-width: 1100px;
  max-width: auto;
  margin: none;
  color: white;
  height: auto;
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}
footer {
  min-width: 1100px;
  max-width: none;
  margin: none;
  background-color: red;
  color: white;
  height: 100px;
  text-align: center;
  font-family: verdana;
  font-size: 80px;
}
.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display:flex;
   background-color: maroon;
   color: white;
}
